<h1>Krediti</h1>

<table>
 <!--  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.name %></td>
        <td><%= link_to 'Uredi', loan %></td>
        <td><%= link_to 'Briši', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_loan_path %>
