<h2>Krediti</h2>

<table class="table">
 <!--  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= link_to loan.bank.name + " - " + loan.name, loan %></td>
        <td><%= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'), loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_loan_path %>