// Place all the styles related to the Loans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	width: 100px;
}

th {
	text-align: left;
}

body {
	background: url("/assets/hope_by_xxrapekxx-d6pu8si-1280x960.png");
	background-size: cover;
	/* background-position: center; */
}

.container {
	background: rgba(0, 0, 0, 0.5);
	width: 700px;
	margin: 20px auto 20px;
	color: #aaa;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding-bottom: 10px;
}

.comparison {
	width: 200px;
	margin: 0 auto;
	position: relative;
	/*top: 100px;*/
}

.comparison_result {
	width: 400px;
	margin: 20px auto 20px;
	/*background: rgba(0, 0, 0, 0.5);*/
	padding: 30px;
	color: #ccc;
	border: 1px solid #777;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.nav > li > a {
	color: #ccc;
}

.nav > li > a:hover {
	color: #333;
}
