// Place all the styles related to the Loans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	width: 100px;
}

th {
	text-align: left;
}

body {
	background: url("/assets/_____66_III_1024_768.jpg");
	background-size: cover;
	/*background-position: center;*/
}
